In [3]:
#Task1(1)
#Jupyter notebook launched First Program
#Hello Python
print('Hello Python')

Hello Python

In [4]:
#Task1(2)
final = []
for m in range(2000,3201):
    if (m%7 == 0) and (m%5!=0):
        final.append(m)
print(final)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [6]:
#Task1(3)
fname = input()
lname = input()
Fullname = fname+ " " +lname
Ffname = Fullname[::-1]
print(Ffname)

vijay
prasad
dasarp yajiv

In [8]:
#Task1(4)
pi = 3.1415926535897931
r= 6.0 # r = D/2 here 12/2= 6.0
Volume= 4.0/3.0*pi* r**3
print('Volume is: ',Volume)

Volume is:  904.7786842338603

In [16]:
#Task2(1)
l = str(input())
flist = l.split(',')
print(flist)

12,56,87,99
['12', '56', '87', '99']

In [24]:
#Task2(2)
iden=5;
for l in range(iden):
    for j in range(l):
        print ('* ', end="")
    print('')

for l in range(iden,0,-1):
    for j in range(l):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [25]:
#Task2(3)
word =input()
rword = word[::-1]
rword

vijayprasad

'dasarpyajiv'

In [39]:
#Task2(4)
string = """WE, THE PEOPLE OF INDIA,
having solemnly resolved to constitute India into a SOVEREIGN, 
SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC 
and to secure to all"""
fstring = string.split('\n')
fstring=fstring[0].upper()+fstring[1].lower()+fstring[2].upper()
fstring= string.split('\n')
fstring

['WE, THE PEOPLE OF INDIA,',
 'having solemnly resolved to constitute India into a SOVEREIGN, ',
 'SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC ',
 'and to secure to all']